
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
  display: block

body 
  line-height: 1

ol, ul 
  list-style: none

blockquote, q 
  quotes: none

blockquote 
  &:before, &:after 
    content: ''
    content: none

q 
  &:before, &:after 
    content: ''
    content: none

table 
  border-collapse: collapse
  border-spacing: 0


/* My style------------------*/


#head-line
  

@keyframes turn
  0%
    transform: rotateZ(0deg)
  100%
    transform: rotateZ(360deg)
    
html
    height:  100%

body
    overflow: hidden
    text-align: center

.container
    width: 90vw
    height: 90vh !important
    display: flex
    flex-direction: column
    text-align: center
    margin-left: 0
    margin-right: 0
    margin: auto
    margin-top: 5vh

.top,
.bottom
    width: 100%
    height: 50% !important

.top
    background: red
    display: flex

.bottom
    background: yellow


.counter,
.word,
.letters,
.buttons
  display: flex
  align-items: center
  justify-content: center

#counter,
.buttons
    background: white
    width: 30%
    height: 100%

.buttons
  float: right


.word,
.letters
  width: 70%
  height: 100%

.letters
  float: left


//-----------------Word char-----------------
.char
  display: flex
  justify-content: center
  align-items: center
  min-width: 7rem
  min-height: 7rem
  font-size: 3rem
  border: 2px solid black
  margin-right: 10px
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)




//-------------Buttons-------------------
.btn
  font-size: 2rem
  padding: 10px 30px
  border: 2px solid black
  border-radius: 5px
  background: rgba(0, 0, 0, 0)
  &:hover
    background: black
    color: white




//--------------------Conuters--------------
.counter
  font-size: 3rem
  &::after,
  &::before
    display: block
    content: ""
    height: 4rem
    border: 2px solid black
    margin: .3rem

.dis-none
  display: none


// PopUp-------------

.popup-container
  width: 100vw
  height: 100vh
  z-index: 11
  & .losePopup
    background: rgba(255, 255, 255, 0.1)
    display: flex
    flex-direction: columns
    justify-content: center
    align-items: centers

.letters
  display: flex
  flex-direction: column

.lettersList
  display: flex
  flex-direction: row
  & li
    display: flex
    justify-content: center
    align-items: center
    width: 3.5rem
    height: 3.5rem
    margin: .3rem
    font-size: 2rem
    border: 1px solid black
    border-radius: 3px

.red
  background: #ff000098
.green
  background: #51ff0098


  